<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Login</h1>
    <form id="form">
        <label for="login"><b>Login</b></label>
        <input type="text" placeholder="Enter login" name="login" required><br>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required><br>
    
        <button id="submit" type="button">Login</button><br>

        <p id="result"> </p>
    </form>
    <a href="/signup">No account? Sign up</a><br>
    <script>
        const form = document.getElementById('form');
        const submit = document.getElementById('submit');
        const result = document.getElementById('result');

        const submitForm = () => {
            const data = {};

            for (const input of form.getElementsByTagName('input')) {
                data[input.name] = input.value;
            }

            fetch('/login', { 
                method: 'POST', 
                credentials: 'include', 
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify(data) 
            })
            .then(res => res.json())
            .then(json => {
                console.log(json);
                result.innerText = json.reason;
            })
            console.log(data);
        }

        submit.addEventListener('click', submitForm);
    </script>
</body>
</html>