<nav>
    <a href="/" class="nav-title">CINEMA</a>
    <div id="navbar-cont" class="nav-blocks">
        <a href="/shows" class="block">Schedule</a>
        <a href="/profile" class="block">My profile</a>
        <a href="/login" class="block">Log in</a>
        <a href="/logout" class="block">Log out</a>
    </div>
    <script>
        
    </script>
</nav>
