<div class="nav-title">CINEMA</div>
<div class="nav-blocks">
    <div class="block">Schedule</div>
    <div class="block">Movies</div>
    <div class="block">My profile</div>
</div>
<div class="logging">Log in</div>