<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <main>
        <h1>Hello {{helloName}}!</h1>
        {{#each tickets}}
            <div>
                <p>token: {{this.token}}</p>
            </div>
        {{/each}}
    </main>
    {{>footer}}
</body>
</html>