body {
    background-color: #2B2A2D;
    margin: 0;
}

main {
    padding: 2em;
    min-height: 600px;
}

* {
    color: #dcdcdc;
    font-family: sans-serif;
}

input, button {
    background-color: #2B2A2D;
    border: 1px solid #dcdcdc;
    border-radius: 1em;
    padding: 0.5em;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #dcdcdc;
    color: #2B2A2D;
}

button:active {
    background-color: #2B2A2D;
    color: #dcdcdc;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: sticky;
    top: 0;
    height: 70px;
    margin: 0;
    /* border-bottom: ; */
    background-color: #161517;
    box-shadow: 0px 2px 2px #454347;
}

.nav-title {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #D9C219;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    display: flex;
    padding-left: 10%;
    align-items: center;
}

.nav-title, .block, .logging {
    transition: transform 0.3s ease, background-color 1s ease;
}

.nav-title:hover, .block:hover, .logging:hover {
    transform: scale(1.05);
}

.block:hover {
    background-color: #323034;
}

.nav-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 7px;
}

.block {
    display: flex;
    text-decoration: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    width: 90%;
    font-weight: 600;
    color: white;
    box-shadow: 1px 1px 2px #5c595f;
    border-radius: 3px;
}

img.poster {
    height: 12em;
}

.show, .item {
    border: 1px solid #cdcdcd;
    border-radius: 1em;
    overflow: hidden;
}

.item {
    width: fit-content;
}

.show-info {
    padding: 1em;
}

pre.pixcode {
    font-family: monospace;
    background-color: #161517;
    padding: 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.logging {
    display: flex;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 8px;
    /* background-color: aliceblue; */
    height: 35px;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
}


.log-row-INFO:nth-of-type(odd) {
    background-color: #102254;
}

.log-row-INFO:nth-of-type(even) {
    background-color: #132a69;
}

.log-row-ERROR:nth-of-type(odd) {
    background-color: #500b00;
}

.log-row-ERROR:nth-of-type(even) {
    background-color: #710f00;
}

.reservation {
    display: grid;
    grid-template-columns: 7% 54% 30% 7%;
}

.room-schema {
    margin-top: 40px;
    width: 500px;
}

.seats-container {
    display: flex;
    flex-wrap: wrap;
}

.seat {
    width: 50px;
    height: 50px;
    margin: 5px 5px 10px 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.not-booked {
    background-color: #132a69;
    cursor: pointer;
    user-select: none;
    border: dotted 4px #132a69;
    border-radius: 3px;
}

.booked {
    background-color: #500b00;
    user-select: none;
    border-radius: 3px;
}

.taken {
    background-color: #2043a3;
    cursor: pointer;
    user-select: none;
    border: dotted 4px #132a69;
    border-radius: 3px;
}

.screen-container {
    margin: 50px 20px ;
    display: flex;
    justify-content: center;
}

.screen {
    font-weight: 900;
    width: 84%;
    text-align: center;
    background-color: #2043a3;
    border-radius: 10px 10px 0px 0px;
}

.room-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poster-div-res {
    width: 50%;
    position: relative;
    padding-top: 75%; /* This will maintain the aspect ratio of 4:3 */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.date {
    background-color: #4b4b4b;
    width: 50%;
    font-weight: 800;
    border: 4px solid rgb(114, 114, 114);
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    margin-bottom: 20px;
}

.room-text {
    width: 80%;
    text-align:center;
    display: grid;
    grid-template-columns: 50% auto;
}

/* logging page */

.log-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.log-in {
    background-color: rgb(193, 195, 197);
    min-height: 440px;
    width: 300px;
    padding: 10px;
    margin: 30px;
    border-radius: 30px;
    border: 4px solid rgb(147, 147, 147);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.log-in a, input, h1{
    margin-top: 30px;
}

.log-in a {
    color: #161517;
}

.log-in h1 {
    font-family: "Lilita One", sans-serif;
    color: #161517;
    font-weight: 400;
    font-size: 50px;
}

.log-in button {
    margin-top: 30px;
}

/* profile page */

.pad-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.profile-data {
    border-top: double 10px black;
    padding-left: 20%;
    padding-right: 20%;
}

.tickets-list {
    margin-top: 50px;
    background-color: rgb(193, 195, 197);
    min-height: 440px;
    padding: 10px;
    border-radius: 30px;
    border: 4px solid rgb(147, 147, 147);
    color: black;    
}

.payments-list {
    margin-top: 50px;
    background-color: rgb(193, 195, 197);
    min-height: 220px;
    padding: 10px;
    width: 50%;
    border-radius: 30px;
    border: 4px solid rgb(147, 147, 147);
    color: black;    
}

.tickets-list h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
    text-align: center;
}

.payments-list h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
    text-align: center;
}

.ticket {
    display: grid;
    grid-template-columns: 15% 10% 10% 10% 15% auto;
}

.payment {
    display: grid;
    grid-template-columns: 20% auto;
}


.ticket div {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* movie page */

.movie {
    display: grid;
    grid-template-columns: 35% 35% auto;
}

.movie h2, h3 {
    padding: 20px;
    border-bottom: white solid 1px;
}

.movie p {
    padding: 10px;
    text-align: justify;
}

.movie-poster {
    padding: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.movie-poster img {
    border: solid black 2px; 
    width: 70%;
    height: auto;
}

.movie-dates {
    display: flex;
    flex-direction: column;   /* Ustawienie elementów jeden pod drugim */
    align-items: center;   
    .date {
        width: 100%;
        text-decoration: none;
    }
}

/* home page */

.home-main {
    padding: 0px 80px;
}

.home-greeting {
    text-align: center;
}

.home-greeting h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #D9C219;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.home-greeting p {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.home-greeting * {
    margin-bottom: 60px;
}

.home-movies {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.home-poster {
    flex: 1;
    max-width: 30%;
}

.home-poster img {
    width: 100%;
    height: auto;
    border: dotted 4px black;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.home-poster img:hover {
    transform: scale(1.05);
}

footer {
    height: 80px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background-color: #161517;
    color: white;
    text-align: center;
}